body {
    display: grid;
    width: 100%;
    max-width: 1200px;
    min-width: 380px;
    justify-content: center;
    font-family: "Reddit Sans", sans-serif;
}
header {
    text-align: center;
    background-color: purple;
    color: white;
    margin-bottom: .5rem;
}
#review-header {
    font-size: 1.5rem;
}
main {
    font-size: .85rem;
}
.pform {
    display: block;
    margin: 0 auto;
    background-color: rgb(232, 166, 232);
    padding: 1rem;
}
.pform input {
    padding: 0;
}
.pform input:required,
.pform select:required {
    border:solid 2px red;
}
.pform input:required:valid,
.pform select:required:valid {
    border:solid 2px green;
}
.rating-label {
    float: left;
    padding: 0 1em;
    padding-bottom: 1.2rem;
    text-align: center;
}

.pform input[type="checkbox"],
.pform input[type="date"],
.pform input[type="text"],
.pform input[type="submit"],
#review-box {
    display: inline-block;  
}
.pform input[type="radio"],
.pform input[type="checkbox"] {
    padding: .75rem;
}

.pform input[type="date"],
.pform input[type="text"],
select,
#review-box {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding-top: 10px;
}
select {
    padding: 5px;
    text-align: left;
}
input[type="checkbox"] {
   width: 16px;
   height: 16px;
   vertical-align: bottom;
}

.pform input[type="date"] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    text-align:left;
}
#review-box {
    padding: 5px;
    padding-bottom: 50px;
    text-align: left;
}

.pform input[type="text"] {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    text-align:left;
}


.title {
    padding-top: 1.2rem;
}
.pform input[type="submit"] {
    display: block;
    margin-top: 1rem;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.5rem;
    border-radius: 3px;
    border: solid 1px black;
}
footer {
    background-color: purple;
    color: white;
    text-align: center;
    margin-top: .5rem;
}

